html {
  position: relative;
  min-height: 100%;
}

.jumbotron {
  background-color: #eeeeee;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

img {
  width: 304px;
  height: 228px;
}

#home_image {
  padding-top: 30px;
  width: 350px;
  height: 278px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}